@model IEnumerable<TrsWebApp.Models.ContactInfo>

<h1>Kontaktinfos</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContactInfoId</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContactInfoId">Bearbeiten</a>
                    <a asp-action="Details" asp-route-id="@item.ContactInfoId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ContactInfoId">Löschen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
